<div id='logup'>
    <div class="inputContent">
        <label for="key">ID:</label>
        <input type="number" id="key">
    </div>
    <div class="inputContent">
        <label for="name">Nome:</label>
        <input type="text" id="name">
    </div>
    <div class="inputContent">
        <label for="type">Tipo:</label>
        <input type="text" id="type">
    </div>
    <div class="inputContent">
        <label for="history">história:</label>
        <textarea name="" id="history" cols="30" rows="10"></textarea>
    </div>
    <button (click)= "send()">Enviar</button>

</div>
